{% extends "base.html" %}
{% block custom_load %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block no_container %}
<div class="header-image">
    <div class="headline">
        <div class="container">
            <h1>History Emergent</h1>
            <h2>Help us write a story about the future of Human existence.</h2>
        </div>
    </div>
</div>

<div class="container">
    <hr>
    <div class='row' id="howitworks">
        <h1>How It Works:</h1>
        <h3>Currently we have a timeline, a record of noteworthy events in the future, 
        what we need now is stories and art to fill this timeline - to flush it out.</h3>
        <h3>Simply put, we need your help.</h3>
        <h3>While we are eager to accept all forms of art, at this time the website is only 
        equipped to handle documents (.doc, .docx, and .pdf). Pending updates, other types of 
        submissions must be delivered via email to kylewmoser@gmail.com. From there they will 
        be handled with care and published asap.<h3>
        <h3>The timeline is collaborative and dynamic. It will continue to grow and evolve;
        as your stories and ideas are submitted they will be added, as will all art.<h3>
        
        <h3>The timeline itself consists of major events such as:</h3>
        <ul id='event-list'>
            <li>Natural Disasters</li>
            <li>Cultural Movements</li>
            <li>Technological Advances</li>
            <li>Etc.</li>
        </ul>
        <h3> These events effect the course of things to come, and as such they would ideally have 
        a presence in the stories we write and influence the art we create.<h3>
    </div>
    
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class='row'>
      <h1 class='text-center'>In the timeline there will are three distinct periods of significance:</h1>
    </div>
    
    <hr class="featurette-divider">
    
    <div class='row'>
      <div class="featurette" id="about">
              <img class="featurette-image img-responsive pull-right" src="http://i.imgur.com/ywhjtHh.jpg" id='pre-war-img'>
          <h2 class="featurette-heading">Pre-War <span class="text-muted"> (2020-2142)</span></h2>
          <p class="lead">As humanity continues down this path that has been laid before 
          us we are likely to find a near balance of triumph and tragedy that cripples us 
          with deluded confidence and debilitating comfort.</p>
          <p class="lead">The acceleration of technological discoveries and advancements is 
          exponential. Religions of today are tomorrows mythologies. Corporate interests 
          take unabashed control of global politics and a secret initiative, codenamed 
          Omnipotence, is founded. Omnipotence endeavors to contort History and spawn 
          new philosophies and systems of belief for a misguided perception of the greater 
          good. Breakthroughs in educational practices improve global intellect dramatically, 
          but the focus with which individuals are taught is just as much a blessing as it is 
          a curse. Education and wealth inequality skyrocket. Knowledge becomes the most valuable 
          resource and it is controlled as such.</p>
          <p class="lead">True history becomes a religion all its own. </p>
          <p class="lead">The world is saturated to a point where achievements that would be 
          considered grand in our time, are now common place.</p>      
          <p class="lead">True Artificial Intelligence is born and is guided by the goal of 
          making life as easy as possible for mankind. Conflict and suffering are minimized.</p> 
          <p class="lead">Apathy soon begins to erode the human spirit.</p>      
          <p class="lead">As with all dystopian stories, all seems well initially but before long 
          a movement stirs in the calm. The human spirit lives. It is said, a power can only rule as 
          long as it doesn't take everything away. This includes conflict. Without at least the 
          illusion of conflict we are without identity. When deprived of identity, people will rise 
          and their purpose will swell to overcome all obstacles.</p>      
      </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="featurette" id="services">
        <img class="featurette-image img-responsive pull-left" id='ww3-img' src="http://i.imgur.com/Z9wyL9A.jpg">
        <h2 class="featurette-heading">WWIII <span class="text-muted">(2142-2150)</span></h2>
        <p class="lead">Heroic figures emerge from the populous to begin a revolution opposing these 
        seemingly perfecting systems. The revolution rapidly escalates into war.</p>
        <p class="lead">It is a war that rivals the Peloponnesian and Grecian wars in essence. 
        A war that last until it is largely forgotten why the war began.</p>
        <p class="lead">The spectre of biological warfare and chemical weapons returns, and 
        from it, a new disease emerges amongst the boundless fighting. A disease so cruel as 
        to necessitate a global reboot.</p>  
    </div>
    
    <hr class="featurette-divider">
    
    <div class="featurette" id="contact">
        <img class="featurette-image img-responsive pull-right" id='new-world-img' src="http://i.imgur.com/2RUmvee.jpg">
        <h2 class="featurette-heading">Post War <span class="text-muted">(2150-3000)</span></h2>
        <p class="lead">The trajectory of human wisdom continues forth but, as is the case with 
        progressive movements of all scales, there is always a requisite period of consolidation.</p>
        <p class="lead">Much knowledge of history and science is lost or scattered along with the diverse 
        souls of the planet and the machines that cared for them.</p>
        <p class="lead">Decades after the war the soot settles, civilization rises...</p>
    </div>
    
    <!-- /END THE FEATURETTES -->
    
    <hr>
    
    <!-- FOOTER -->
    <footer>
        <p>
            Copyright &copy; History Emergent 2013 &middot; Facebook &middot; Twitter &middot; Google+
        </p>
    </footer>
    <!-- /END OF FOOTER -->
    
</div><!-- /container -->
{% endblock %}
